iOS-CleanArchitecture.xcworkspace/xcuserdata/khaled.xcuserdatad/UserInterfaceState.xcuserstate
iOS-CleanArchitecture.xcworkspace/xcuserdata/khaled.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Pods
